[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qml-work-logger
Exec=/opt/qml-work-logger/bin/qml-work-logger
Icon=qml-work-logger64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
